.home-page {
  max-width: 800px;
  margin: 0 auto;
  
}


h1 {
  color: #333;
}

.welcome-section {
  margin-top: 5px;
  text-align: center;
}

.deals-section {
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #D1B1C8;
}

.deals-container {
  display: flex;
  gap: 20px;
  background-color: #EEEEEE;
  flex-grow: 0;
}

@media (min-width: 768px) {
  .deals-container {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
}
