/* Ensure this file is saved as Login.css in the correct directory */


.login-container{
margin-top: 50px;
display: flex;
align-items: center;
justify-content: center;
}


.login-form {
  display: flex;
  flex-direction: column;
  
}

.login-title {
  text-align: center;
}
